@tailwind base;
@tailwind components;
@tailwind utilities;

#canvas {
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

.object {
  cursor: pointer;
}

.object-detail {
  right: 120%;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.object:hover > .object-detail {
  visibility: visible;
  opacity: 1;
}
